# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Build & Dist
build/
dist/
*.spec
*.upk
analyze_alpha_boost.py
electron/python/

# App Data (Local configurations and dynamic images)
data/config.json
data/images/*.png

# Ignore original unmodded backups
data/backups/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules/
*.log

# IDEs
.idea/
.vscode/
*.swp
